<!DOCTYPE html>
<html lang="ru">
<html>
  <head>
    <meta charset="utf-8">
    <title>Проверить проект</title>
    <style>
      .green_button {
       background-color: #73A353;
       color: #fff; /* Белый цвет текста */
       border-radius: 5px;
      }
      .red_button {
        background-color: #C1172C;
        color: #fff;
        border-radius: 5px;
       }
    </style>
  </head>
  <body>
    {% if project %}
      <form method="post">
        {% csrf_token %}
        <h1>Название проекта: {{ project.title }}</h1>
        <p>Автор проекта: {{ project.last_name }} {{ project.first_name }} {{ project.patronymic }}</p>
        <p>Описание проекта: {{ project.description }}</p>
        <input type="submit" name="verdict" value="допустить" class="green_button"> <input type="submit" class="red_button" name="verdict" value="отказать">
      </form>
    {% else %}
      Проверка проектов закончена
    {% endif %}
  </body>
</html>
