<!DOCTYPE html>
<html lang="ru">
<html>
  <head>
    <meta charset="utf-8">
    <title>Список проектов</title>
  </head>
  <body>
    {% for project in project_list %}
      <ul>
        <li>
          <p>Название: {{ project.title }} </p>
          <p>Описание: {{ project.description }} </p>
          <hr>
        </li>
      </ul>
    {% endfor %}
  </body>
</html>
