<!DOCTYPE html>
<html lang="ru">
<html>
  <head>
    <meta charset="utf-8">
    <title>Проект {{ project.title }} </title>
  </head>
  <body>
    <h1>Название проекта: {{ project.title }}</h1>
    <p>Описание проекта: {{ project.description }}</p>
  </body>
</html>
